@mixin fs-title-medium {
    font-size: 36px;
    line-height: 48px;
}

@mixin fs-title {
    font-size: 18px;
    line-height: 24px;
}

@mixin fs-text-large {
    font-size: 16px;
    line-height: 19px;
}

@mixin fs-text {
    font-size: 14px;
    line-height: 17px;
}

@mixin fs-caption {
    font-size: 12px;
    line-height: 17px;
}
